/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

h2, h3, h4 {
  color: #3498db;
  margin: 5px;
}

p {
  color: #ffffff;
}

body {
  background: #81689D;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */
header {
  display: flex;
  background-color: rgb(3, 6, 55);
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 5px solid #720455;
}

.logo {
  display: flex;
  align-items: center;
}

nav a {
  font-weight: 600;
  padding-right: 21px;
}

nav a:hover {
  color: #A367B1;
}

@media (max-width: 680px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
    text-align: center;
  }
}
/* Header de bootstrap */
.navbar-nav .nav-link {
  color: #2779b5;
}

.nav-link:hover {
  color: #720455;
}

/* FOOTEER */
footer {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #200E3A;
}

footer p {
  color: #fff;
}

@media (max-width: 680px) {
  footer {
    flex-direction: column;
    overflow: hidden;
  }
}
/* Pagina de inicio */
main .banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
main .banner .content {
  position: relative;
  max-width: 900px;
  text-align: center;
}
main .banner .content .titulo-gr {
  color: transparent;
  font-size: 5rem;
  background: linear-gradient(123deg, #525CEB, #B931FC);
  background-clip: text;
  margin: 5px;
}
main .banner .content p {
  color: #fff;
  font-size: 20px;
}
main .banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #1F2544, transparent);
}
main .banner2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
main .banner2::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
main .banner2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #1F2544, transparent);
}
main .planetasCard {
  text-align: center;
}
main .planetasCard .planetasCard-title {
  font-size: 2.5rem;
  margin: 10px;
}
main .planetasCard .planetasCard-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .planetasCard:hover .box {
  opacity: 0.2;
}
main .planetasCard .box {
  position: relative;
  min-width: 350px;
  height: 480px;
  background: #474F7A;
  transition: 0.5s;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
}
main .planetasCard .box:hover {
  opacity: 1;
  transform: scale(1.2);
}
main .planetasCard .box .imgBx {
  position: relative;
  width: 100%;
  height: 400px;
}
main .planetasCard .box .content {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .planetasCard .box .content h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2em;
}
main .banner3 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
main .banner3 ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, #111, transparent);
}
main .banner3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #111, transparent);
}
main .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
main .info .contentBx {
  min-width: 50%;
  width: 50%;
  padding-right: 10px;
}

a.btn {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 10px;
}

.titleText {
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}

.text {
  color: #fff;
  font-size: 1em;
}

.ImgBx {
  position: relative;
  min-height: 500px;
  width: 50%;
}

.ImgBx img {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
}

@media (max-width: 600px) {
  main .banner .content {
    max-width: 300px;
  }
  main .banner .content .titulo-gr {
    font-size: 50px;
  }
  section {
    padding: 40px;
  }
  .banner .content p {
    font-size: 1em;
  }
  .info {
    flex-direction: column;
  }
  .info .contentBx {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }
  .info .ImgBx {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }
  .ImgBx {
    min-height: 250px;
  }
  .titleText {
    font-size: 1.5em;
  }
  a.btn {
    margin-bottom: 30px;
  }
  .destinationList .box {
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 400px;
    min-width: initial;
  }
  .planetasCard-list .box .imgBx {
    height: 320px;
  }
  .footer .sci li a img {
    filter: invert(1);
    max-width: 30px;
  }
}
/* GALERIA v2 */
main .galeria-container, main .acercade-container {
  margin-top: 20px;
  padding: 0;
  max-width: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main .galeria-container .galeria-grid, main .acercade-container .galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
main .galeria-container .galeria-grid .galeria-photo, main .acercade-container .galeria-grid .galeria-photo {
  display: flex;
  flex-direction: column;
}
main .galeria-container .galeria-grid .galeria-photo .photos, main .acercade-container .galeria-grid .galeria-photo .photos {
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
  font-weight: 400;
  transition: 0, 15s;
  border: none;
}
main .galeria-container .galeria-grid .galeria-photo .photo-description, main .acercade-container .galeria-grid .galeria-photo .photo-description {
  padding: 1rem;
}

.photos-color1:hover {
  box-shadow: 10px 14px 30px 0px #7e5dc7;
}

.photo-description-color1 {
  background-color: #392467;
}
.photo-description-color1:hover {
  background-color: #4e318d;
}

.photos-color2:hover {
  box-shadow: 10px 14px 30px 0px #4a27f8;
}

.photo-description-color2 {
  background-color: #190482;
}
.photo-description-color2:hover {
  background-color: #2306b3;
}

.photos-color3:hover {
  box-shadow: 10px 14px 30px 0px #a63fc5;
}

.photo-description-color3 {
  background-color: #451952;
}
.photo-description-color3:hover {
  background-color: #662579;
}

.photos-color4:hover {
  box-shadow: 10px 14px 30px 0px #0075c9;
}

.photo-description-color4 {
  background-color: #001C30;
}
.photo-description-color4:hover {
  background-color: #003a63;
}

.photos-color5:hover {
  box-shadow: 10px 14px 30px 0px #8e85b8;
}

.photo-description-color5 {
  background-color: #443C68;
}
.photo-description-color5:hover {
  background-color: #594f88;
}

.photos-color6:hover {
  box-shadow: 10px 14px 30px 0px #b281cb;
}

.photo-description-color6 {
  background-color: #66347F;
}
.photo-description-color6:hover {
  background-color: #8343a3;
}

@media (max-width: 850px) {
  main .galeria-container .galeria-grid, main .acercade-container .galeria-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  main .galeria-container .galeria-grid, main .acercade-container .galeria-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
img {
  width: 100%;
}

.planetas-container {
  background-color: #070F2B;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.planetas-container .planetas-info {
  align-items: center;
  color: #EFECEC;
  padding: 20px;
  font-family: Roboto;
  border: 1px solid #176B87;
  box-shadow: 10px 10px 16px -1px rgba(23, 107, 135, 0.75);
}
.planetas-container .planetas-info img {
  border-radius: 25px;
}
.planetas-container .planetas-info h2 {
  font-size: 2rem;
  margin: 5px;
}
.planetas-container .planetas-info:hover {
  transition: 0.5s;
  background-color: #1D2B53;
  transform: scale(1.05);
}

@media (max-width: 850px) {
  .planetas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 450px) {
  .planetas-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
/* Acerca de */
.acercade-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.acercade-container .about-section {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
.acercade-container .accordion {
  padding-bottom: 20px;
}
.acercade-container .accordion img {
  border-radius: 25px;
  padding-bottom: 20px;
}
.acercade-container .accordion .accordion-item {
  background-color: #474F7A;
  color: aliceblue;
}
.acercade-container .accordion .accordion-item .accordion-button {
  background-color: #071952;
  color: aliceblue;
}

@media (max-width: 850px) {
  .navbar .container-fluid .navbar-toggler {
    background-color: #474F7A;
  }
  .acercade-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
.form-container .form {
  min-height: 100vh;
  background: linear-gradient(to bottom, #836FFF, #15F5BA);
  display: flex;
  justify-content: center;
}
.form-container .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 25, 81, 0.3);
  width: 800px;
  min-height: 400px;
  border-radius: 18px;
  border: 1px solid rgb(240, 243, 255);
}
.form-container .form form h2 {
  color: rgb(240, 243, 255);
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 49px;
}
.form-container .form form label {
  color: rgb(240, 243, 255);
  font-size: 20px;
  margin: 15px;
}
.form-container .form form input {
  width: 60%;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  color: rgb(240, 243, 255);
}
.form-container .form form textarea {
  width: 60%;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #211951;
  color: rgb(240, 243, 255);
}
.form-container .form form button {
  background-color: rgb(131, 111, 255);
  margin: 20px;
  padding: 20px;
  border-radius: 18px;
  color: rgb(240, 243, 255);
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
