
/* Header */
header{
    display: flex;
    background-color: rgba(3, 6, 55);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 5px solid #720455;
}
.logo{
    display: flex;
    align-items: center;
}
nav a{
    font-weight: 600;
    padding-right: 21px;
}
nav a:hover{
    color: #A367B1;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
        text-align: center;
    }
}

/* Header de bootstrap */
.navbar-nav .nav-link {
    color: #2779b5;
}
.nav-link:hover {
    color: #720455;
}
