/* Estilos generales */
body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
h2, h3, h4 {
    color: #3498db;
    margin: 5px;
}

p {
    color: #ffffff;
}

body {
    background: #81689D;
}

// Cuidado con este codigo
img {
    max-width: 100%;
    display: block;
}
// 🙀