/* Estilos generales */
body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
h1 {
    color: $titulos-claros;
    font-weight: bold;
    margin: 10px;
}
h2, h3, h4 {
    color: $titulos-claros;
    margin: 5px;
}

p {
    color: $color-textoClaro;
}

body {
    background: $color-fondo;
}

// Cuidado con este codigo
img {
    max-width: 100%;
    display: block;
}
// 🙀