// Mixxin
@mixin container-grid($column, $frs) {
    display: grid;
    grid-template-columns: repeat($column,$frs);
    gap: 2rem;
}
@mixin tituloAnimacion($color1, $color2) {
    font-size: 3rem;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(123deg, $color1, $color2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    &:hover {
        background-size: 100% 100%;
    }
}

