/* Acerca de */
.acercade-container {
    @extend .galeria-container;
    @include container-grid(2,1fr);

    .about-section {
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .accordion{
        padding-bottom: 20px;
        img {
            border-radius: 25px;
            padding-bottom: 20px;
        }
        .accordion-item {
            background-color: $color-galeriaFondo;
            color: aliceblue;
            .accordion-button {
                background-color: $color-botones;
                color: aliceblue;
            }
        }
    }
    
}

@media (max-width: 850px) {
    .navbar {
        .container-fluid {
            .navbar-toggler {
                background-color: $color-galeriaFondo;
            }
        }
    }
    .acercade-container {
        @include container-grid(1,1fr);
    }
}