
/* Pagina de inicio */

main {
    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .content {
            .titulo-gr {
                color: transparent;
                font-size: 5rem;
                background: linear-gradient(123deg, #525CEB, #B931FC);
                background-clip: text;
                margin: 5px;
            }
            position: relative;
            max-width: 900px;
            text-align: center;
            p {
                color: #fff;
                font-size: 20px;            
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(to top, #1F2544, transparent);        
        }
    }
    .banner2{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;    
        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 400px;    
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background: linear-gradient(to bottom, #1F2544, transparent);        
        }
    }
    .planetasCard {
        text-align: center;
        .planetasCard-title {
            font-size: 2.5rem;
            margin: 10px;
        }
        .planetasCard-list {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        &:hover .box {
            opacity: 0.2;
        }
        .box {
            position: relative;
            min-width: 350px;
            height: 480px;
            background: $color-galeriaFondo;
            transition: 0.5s;
            margin: 10px;
            overflow: hidden;
            border-radius: 15px;
            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
            .imgBx {
                position: relative;
                width: 100%;
                height: 400px;            
            }
            .content {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                h3 {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 1.2em;                
                }        
            }
        }
    }
    .banner3 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;  
        ::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background: linear-gradient(to top, #111, transparent);        
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background: linear-gradient(to bottom, #111, transparent);        
        }
    }
    .info {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .contentBx {
            min-width: 50%;
            width: 50%;
            padding-right: 10px;
            .titleText {
                font-weight: 600;
                color: #fff;
                font-size: 2em;
                margin-bottom: 10px;
            }
            .text {
                color: #fff;
                font-size: 1em;
            }
        }
        .ImgBx {
            position: relative;
            min-height: 500px;
            width: 50%;
            img {
                border-radius: 15px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }        
    }
}



a.btn {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
}
.fitBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
}

@media (max-width: 600px) {
    main {
        .banner {
            .content {
                max-width: 300px;
                .titulo-gr {
                    font-size: 50px;
                }
            }
        }
    }
    section {
    padding: 40px;
    }
    .banner .content p {
    font-size: 1em;
    }
    .info {
    flex-direction: column;
    }
    .info .contentBx {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
    }
    .info .ImgBx {
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
    }
    .ImgBx {
    min-height: 250px;
    }
    .titleText {
    font-size: 1.5em;
    }
    a.btn {
    margin-bottom: 30px;
    }
    .destinationList .box {
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 400px;
    min-width: initial;
    }
    .planetasCard-list .box .imgBx {
    height: 320px;
    }
    .footer .sci li a img {
    filter: invert(1);
    max-width: 30px;
    }
}
